body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

:root {
  --sec: rgba(255, 204, 0, 1);
  --pri: rgba(35, 17, 97, 1);
}

.bg-trans {
  background-color: transparent;
}

.pri {
  color: var(--pri)
}

.bg-pri {
  background-color: var(--pri)
}

.b--pri {
  border-color: var(--pri)
}

.sec {
  color: var(--sec)
}

.bg-sec {
  background-color: var(--sec)
}

.b--sec {
  border-color: var(--sec)
}

.trans {
  transition: all 0.2s ease-in-out
}

.spin {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 1000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 1000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

.xylophone {
  width: 80%;
  margin: 0 auto;
  height: 40vh;
  display: grid;
  grid-template-columns: repeat(10, auto);
}

.xylophone-note {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin: 10px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.xylophone-note:hover {
  opacity: 0.7;
}

.xylophone-note:nth-child(1) {
  background: red;
}

.xylophone-note:nth-child(2) {
  margin: 15px 10px;
  background: darkorange;
}

.xylophone-note:nth-child(3) {
  margin: 20px 10px;
  background: rgb(255, 242, 0);
}

.xylophone-note:nth-child(4) {
  margin: 25px 10px;
  background: green;
}

.xylophone-note:nth-child(5) {
  margin: 30px 10px;
  background: blue;
}

.xylophone-note:nth-child(6) {
  background: purple;
  margin: 35px 10px;
}

.xylophone-note:nth-child(7) {
  background: mediumvioletred;
  margin: 40px 10px;
}

.xylophone-note:nth-child(8) {
  background: red;
  margin: 45px 10px;
}

.xylophone-note:nth-child(9) {
  background: orange;
  margin: 50px 10px;
}

.xylophone-note:nth-child(10) {
  background: rgb(255, 242, 0);
  margin: 60px 10px;
}

.Zheng{
/* background-image: url('./instruments/imageAssets/Zheng.jpg'); */
    /* background-size: cover;  */
    background-color:rgb(196, 107, 24);
    /* width: 90%; */
    /* height: 300px;  */
    display: flex;
    flex-direction: column-reverse;
    margin: 0.45em;
    width: 80%;
    margin: 0 auto;
    height: 40vh;
  }
 
  .zheng_string:hover{
    animation: vibrate 0.5s;
    animation-iteration-count: infinite;
  }
  
  @keyframes vibrate {
    10%, 90% {
      transform-origin: 0 0;
      transform: matrix(1, -.008, 0, 1, 0, 0);
    }
    
    20%, 80% {
      transform-origin: 0 0;
      transform: matrix(1, .006, 0, 1, 0, 0);
    }
  
    30%, 50%, 70% {
      transform-origin: 0 0;
      transform: matrix(1, -.004, 0, 1, 0, 0);
    }
  
    40%, 60% {
      transform-origin: 0 0;
      transform: matrix(1, .002, 0, 1, 0, 0);
    }
  }  
  
